traefik:
  url: http://127.0.0.1:8080
  poll_interval: 5s
  # certificate_files:
  #   - examples/local-stack/traefik/certs/localstack.crt
  # username: admin      # optional HTTP basic auth
  # password: secret

docker:
  socket: /var/run/docker.sock
